@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');


* body {
    background: #000000 no-repeat fixed;
}

.question {
    width: 80%;
    margin: 5% auto;
    padding: 5%;
    border: 5px solid #3cd6ce;
    border-radius: 30px;

}

input::placeholder {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
}


h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: white;
    margin-bottom: 3%;
}

label,
p {
    color: white;
}

disclaimer {
    font-size: .6em;
}
